body{
    margin: 0 auto;
}

.header{
    width: 100%;
    /* padding: 0.1rem 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(253, 102, 102, 0.99) 1.13%, #FF8B49 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.3rem;
}

.header img{
    width: 2.5rem;
    transform: rotate(28.13deg);
}

.header-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 0.5rem;
    line-height: 149.5%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#human-bot{
    color: #000;
    font-weight: 700;
}


.top-pages {
    width: 100%;
    padding-bottom: 6rem;
    display: grid;
    background: linear-gradient(90deg, #FFFFFF -4.51%, #E0EAFF 100%);
}

.page-under, .first-page {
    grid-area: 1 / 1;
}

.page-under{
    width: 100%;
    min-height: 20rem;
}

.first-page{
    padding: 1rem 0;
    width: 100%;
}



#inner-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.3rem;
}

#inner-logo img{
    width: 11.5rem;
}

.break-through{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
}

.break-through img{
    width: 2.5rem;
    height: 2.6rem;
}

.break-text{
    padding-top: 0.5rem;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 580;
    font-size: 1.8rem;
    line-height: 45px;
    text-align: center;
    color: #000;
    padding-left: 0.2rem;
}

#inner-break{
    font-weight: 700;
    text-decoration: none;
    color: #1A9ACF;
}

#inner-break:hover{
    text-decoration: underline;
}

.grp-boxes{
    max-width: 100%;
    min-height: 16rem;
    background-image: url("assets/img/group-element.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 87% auto;
    padding: 0 15%;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    font-size: 2.15rem;
    line-height: 4rem;
    text-align: center;
    color: #FFFFFF;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.into-lead{
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: -1rem;
    padding-bottom: 1.5rem;
    /* line-height: 45px; */
    text-align: center;
    color: #000000;
}

.small-pics-area{
    width: 100%;
    display: flex;
}

.first-side{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.first-side-2{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.first-side img{
    width: 40%;
}

.first-side-2 img{
    width: 45%;
}

#pic-side-1{
    margin-top: 6rem;
    margin-left: 45%;
}

#pic-side-2{
    margin-top: 4.5rem;
    margin-left: 18%;
}

#pic-side-3{
    margin-top: 6rem;
    margin-left: 43%;
}

#pic-side-4{
    margin-top: 2.5rem;
    margin-left: 15%;
}

#pic-side-5{
    margin-top: 5.5rem;
    margin-left: 47%;
}

#pic-side-6{
    margin-top: 10rem;
    margin-left: 15%;
}

.yt-area{
    width: 50%;
}

.small-banner{
    max-width: 100%;
    /* background-color: aqua; */
    min-height: 4.5rem;
    background-image: url("assets/img/small-bk.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 95% auto;
    /* padding: 0 15%; */
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 0.95rem;
    word-wrap: break-word;
    text-align: center;
    color: #1C1C1C;
    padding-top: 1.5rem;
    line-height: 1.5rem;
    /* background-color: #FF8B49; */
}

.con-text{
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    text-decoration-line: underline;
    color: #EE5C17;
}

.show-yt{
    max-width: 100%;
    min-height: 30rem;
    background-image: url("assets/img/yt-player.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1.83917px solid rgba(255, 255, 255, 0.53);
    backdrop-filter: blur(18.3918px); */
    /* font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 0.95rem;
    word-wrap: break-word;
    text-align: center;
    color: #1C1C1C;
    padding-top: 1.5rem;
    line-height: 1.5rem; */
}

.show-yt iframe{
    width:85%;
    height: 21rem;
    border-radius: 18.3918px;
    margin-right: 2rem;
}

.use-c{
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 36px;
    text-align: center;
    color: #000000;
    padding-top: 1.4rem;
}

.sm-circle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-circle img{
    width: 25%;
    height: auto;
    margin-top: -2.5rem;
}

.db-use{
    width:100%;
}

.db-use .sm-circle img{
    display: none;
}

.db-use:hover .sm-circle img{
    display: block!important;
}

.get-a{
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 39px;    
    text-align: center;
    color: #000000;
    padding-top: 0.4rem;
}

.but-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.8rem;
}

.arrow-btn{
    width: 65%;
}

.arrow-gif{
    width: 15%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.cards{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards img{
    width: 48%;
}

.oss{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oss img{
    width: 62%;
}

.no-down{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.no-down div{
    width: 53%;
    background: rgba(53, 148, 219, 0.11);
    border-radius: 2px;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 600;
    padding: 0.5rem 0;
    font-size: 1.15rem;
    text-align: center;
    color: #000000;
}

.first-rays{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

#ray-bk{
    width: 7.2%;
    height: 9rem;
    margin-top: 1rem;
}

#ray-2{
    margin-top: -47rem;
    height: 45rem;
}

#ray-4{
    /* width: 40%; */
    margin-top: -38rem;
}

.second-page{
    max-width: 100%;
    min-height: 62rem;
    background-image: url("assets/img/second-bk.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: -4rem;
}

.first-half{
    width: 100%;
    height: 20rem;
    display: flex;
}

.book-icon{
    margin-top: -3.5rem;
    width: 68%;
}

.side-mogis{
    width: 100%;
    margin-top: 7rem;
    height: 28rem;
}

.img-case{
    width: 20%;
}

.big-central{
    width: 60%;
    height: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.big-glim{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 550;
    font-size: 1.4rem;
    text-align: center;
    color: #000000;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    width: 83.5%;
    padding: 0.5em 0;
}

.ultra-b{
    width: 100%;
}

.ultra-b .div1{
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 75px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 20.3682px 45.2626px rgba(0, 0, 0, 0.25);
    padding-bottom: 1.5rem;
}

.arrow-pointer{
    display: flex;
    margin-top: -2rem;
}

#arrow-pointer-img1{
    margin-left: 5rem;
    width: 17%;
    height: 10rem;
    margin-right: 8rem;
}

#arrow-pointer-img2{
    margin-top: 3rem;
    width: 4%;
    height: 5rem;
}

.ultra-b .arrow-pointer{
    visibility: hidden;
}

.ultra-b:hover .arrow-pointer{
    visibility: visible;
}