body{
    margin: 0 auto;
}

.header{
    width: 100%;
    padding: 0.1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(253, 102, 102, 0.99) 1.13%, #FF8B49 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.3rem;
}

.header img{
    transform: rotate(28.13deg);
}

.header-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.15rem;
    padding-left: 0.5rem;
    line-height: 149.5%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#human-bot{
    color: #000;
    font-weight: 700;
}

.first-page{
    max-width: 100%;
    min-height: 130rem;
    background-color: #FFFFFF; 
    background-image: url("assets/img/first-page-bk.png");
    background-image: url("assets/img/first-page-bk.png"), linear-gradient(90deg, #FFFFFF -4.51%, #E0EAFF 100%);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(90deg, #FFFFFF -4.51%, #E0EAFF 100%);  */
}

.first-page{
    padding: 1rem 0;
}

#inner-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}

.break-through{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.break-text{
    padding-top: 2.5rem;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 45px;
    text-align: center;
    color: #111111;
    padding-left: 0.4rem;
}

#inner-break{
    font-weight: 700;
    text-decoration: none;
    color: #1A9ACF;
}

#inner-break:hover{
    text-decoration: underline;
}

.grp-boxes{
    max-width: 100%;
    min-height: 15.3rem;
    background-image: url("assets/img/group-element.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 90% 16rem;
    padding: 0 15%;
    padding-top: 6rem;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 4rem;
    text-align: center;
    color: #FFFFFF;
    word-wrap: break-word;
}