body{
    margin: 0 auto;
}

.header{
    width: 100%;
    /* padding: 0.1rem 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(253, 102, 102, 0.99) 1.13%, #FF8B49 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.3rem;
}

.header img{
    width: 2.5rem;
    transform: rotate(28.13deg);
}

.header-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 0.5rem;
    line-height: 149.5%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#human-bot{
    color: #000;
    font-weight: 700;
}


.top-pages {
    width: 100%;
    padding-bottom: 6rem;
    display: grid;
    background: linear-gradient(90deg, #FFFFFF -4.51%, #E0EAFF 100%);
}

.page-under, .first-page {
    grid-area: 1 / 1;
}

.page-under{
    width: 100%;
    min-height: 20rem;
}

.first-page{
    padding: 1rem 0;
    width: 100%;
}



#inner-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.3rem;
}

#inner-logo img{
    width: 11.5rem;
}

.break-through{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
}

.break-through img{
    width: 2.5rem;
    height: 2.6rem;
}

.break-text{
    padding-top: 0.5rem;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 580;
    font-size: 1.8rem;
    line-height: 45px;
    text-align: center;
    color: #000;
    padding-left: 0.2rem;
}

#inner-break{
    font-weight: 700;
    text-decoration: none;
    color: #1A9ACF;
}

#inner-break:hover{
    text-decoration: underline;
}

.grp-boxes{
    max-width: 100%;
    min-height: 16rem;
    background-image: url("assets/img/group-element.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 87% auto;
    padding: 0 15%;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    font-size: 2.15rem;
    line-height: 4rem;
    text-align: center;
    color: #FFFFFF;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.into-lead{
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: -1rem;
    padding-bottom: 1.5rem;
    /* line-height: 45px; */
    text-align: center;
    color: #000000;
}

.small-pics-area{
    width: 100%;
    display: flex;
}

.first-side{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.first-side-2{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.first-side img{
    width: 40%;
}

.first-side-2 img{
    width: 45%;
}

#pic-side-1{
    margin-top: 6rem;
    margin-left: 45%;
}

#pic-side-2{
    margin-top: 4.5rem;
    margin-left: 18%;
}

#pic-side-3{
    margin-top: 6rem;
    margin-left: 43%;
}

#pic-side-4{
    margin-top: 2.5rem;
    margin-left: 15%;
}

#pic-side-5{
    margin-top: 5.5rem;
    margin-left: 47%;
}

#pic-side-6{
    margin-top: 10rem;
    margin-left: 15%;
}

.yt-area{
    width: 50%;
}

.small-banner{
    max-width: 100%;
    /* background-color: aqua; */
    min-height: 4.5rem;
    background-image: url("assets/img/small-bk.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 95% auto;
    /* padding: 0 15%; */
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 0.95rem;
    word-wrap: break-word;
    text-align: center;
    color: #1C1C1C;
    padding-top: 1.5rem;
    line-height: 1.5rem;
    /* background-color: #FF8B49; */
}

.con-text{
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    text-decoration-line: underline;
    color: #EE5C17;
}

.show-yt{
    max-width: 100%;
    min-height: 30rem;
    background-image: url("assets/img/yt-player.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1.83917px solid rgba(255, 255, 255, 0.53);
    backdrop-filter: blur(18.3918px); */
    /* font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 0.95rem;
    word-wrap: break-word;
    text-align: center;
    color: #1C1C1C;
    padding-top: 1.5rem;
    line-height: 1.5rem; */
}

.show-yt iframe{
    width:85%;
    height: 21rem;
    border-radius: 18.3918px;
    margin-right: 2rem;
}

.use-c{
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 36px;
    text-align: center;
    color: #000000;
    padding-top: 1.4rem;
}

.sm-circle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-circle img{
    width: 25%;
    height: auto;
    margin-top: -2.5rem;
}

.db-use{
    width:100%;
}

.db-use .sm-circle img{
    display: none;
}

.db-use:hover .sm-circle img{
    display: block!important;
}

.get-a{
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 39px;    
    text-align: center;
    color: #000000;
    padding-top: 0.4rem;
}

.but-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.8rem;
}

.arrow-btn{
    width: 65%;
}

.arrow-gif{
    width: 15%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.cards{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards img{
    width: 48%;
}

.oss{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oss img{
    width: 62%;
}

.no-down{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.no-down div{
    width: 53%;
    background: rgba(53, 148, 219, 0.11);
    border-radius: 2px;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 600;
    padding: 0.5rem 0;
    font-size: 1.15rem;
    text-align: center;
    color: #000000;
}

.first-rays{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

#ray-bk{
    width: 7.2%;
    height: 9rem;
    margin-top: 1rem;
}

#ray-2{
    margin-top: -47rem;
    height: 45rem;
}

#ray-4{
    /* width: 40%; */
    margin-top: -38rem;
}

.second-page{
    display: grid;
    max-width: 100%;
    min-height: 65rem;
    background-image: url("assets/img/second-bk.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: -4rem;
}

.first-half{
    width: 100%;
    display: flex;
}

.book-icon{
    margin-top: -3.5rem;
    width: 68%;
}

.side-mogis{
    width: 100%;
    margin-top: 7rem;
    height: 28rem;
}

.img-case{
    width: 20%;
}

.big-central{
    width: 60%;
    height: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.big-glim{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 550;
    font-size: 1.4rem;
    text-align: center;
    color: #000000;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    width: 83.5%;
    padding: 0.5em 0;
    margin-bottom: 2rem;
}

.ultra-b{
    width: 100%;
}

.ultra-b .div1{
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.8rem;
    text-align: center;
    color: #000000;
    text-shadow: 0px 20.3682px 45.2626px rgba(0, 0, 0, 0.25);
    padding-bottom: 1.5rem;
}

.arrow-pointer{
    display: flex;
    margin-top: -2rem;
}

#arrow-pointer-img1{
    margin-left: 5rem;
    width: 17%;
    height: 10rem;
    margin-right: 8rem;
}

.arrow-pointer-1{
    display: grid;
    padding-left: 2.5rem;
}

#up-gif, #arrow-pointer-img2 {
    grid-area: 1 / 1;
}

#arrow-pointer-img2{
    margin-top: 3rem;
    /* width: 4%; */
    /* margin-left: 1rem; */
    /* height: 5rem; */
}

#up-gif{
    width: 20%;
    margin-top: 3rem;
    margin-left: -2rem;
    /* height: 6rem; */
}

/* .ultra-b .arrow-pointer{
    visibility: hidden;
}

.ultra-b:hover .arrow-pointer{
    visibility: visible;
} */

.second-half{
    margin-top: 29rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.second-half img{
    width: 22.8%;
    height: 28rem;
}

.third-bk{
    width: 100%;
    height: auto;
    background-color: #001922;
    margin-top: -2.2rem;
    z-index: -10;
    padding-top: 1.5rem;
}

.first-half, .second-half {
    grid-area: 1 / 1;
}

.m-zag{
    max-width: 100%;
    min-height: 9.1rem;
    margin-top: -8rem;
    background-image: url("assets/img/slice-2.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.zig-banner{
    max-width: 100%;
    min-height: 12.5rem;
    background-image: url("assets/img/zig-banner.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 61% auto;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 2.8rem;
    text-align: center;
    color: #FFFFFF;
    padding: 0 25%;
    padding-top: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 15.6672px 34.8161px rgba(0, 0, 0, 0.25);
}
 
.dem-btn{
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 26px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 7.50526px;
    border: none;
    padding: 0.7rem;
    margin: 1rem 27%;
    text-align: center;
}

.b-sect{
    width: 100%;
    padding-top: 3rem;
    display: flex;
    padding-bottom: 4rem;
}

.f1-blocks{
    padding: 0 4rem;
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.f1-blocks img {
    width: 75%;
}

.f2-blocks img {
    width: 55%;
}

#last-s-img{
    width: 75%;
}


.f2-blocks{
    padding: 0 4rem;
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.m-blocks{
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-blocks img{
    max-width: 1.5rem;
    height: auto;
}

.list-div{
    width: 62%;
}

.list-div-h{
    background: #E56969;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 900;
    font-size: 2rem;
    line-height: 118.6%;
    color: #FFFFFF;
    padding: 0.7rem 1rem;
}

.list-div ul li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 287.6%;
    color: #FFFFFF;
}

.end-sect{
    max-width: 100%;
    min-height: 6.5rem;
    background-image: url("assets/img/slice-3.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.publish-page{
    width: 100%;
    background-color: #ededed;
    padding-bottom: 3rem;
}

.pub-title{
    max-width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 143%;
    text-align: center;
    color: #000000;
    text-shadow: 0px 18.2048px 40.455px rgba(0, 0, 0, 0.25);
    padding: 3rem 22%;
}

.pub-title span{
    color: #fff;
    background: #FD6666;
    border-radius: 9.85075px;
    padding: 0.25rem 0.6rem;
}

.custom-box{
    margin: 2rem 15%;
    background: #FFFFFF;
    border-radius: 18.9568px;
    display: flex;
}

.custom-box img{
    width: 57%;
    height: auto;
}

.custom-box-div{
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-box-div button{
    width: 80%;
    background: #EDEDED;
    border-radius: 8.93786px;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 25px;
    color: #1C1C1C;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
}

.custom-box-div button img{
    width: 3.5rem;
    margin-right: 0.5rem;
}

.custom-steps{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 21px;
    color: #000000; 
    align-self: flex-start;
    padding: 0.5rem 12%;
}

.custom-box-div button:hover, #active-cb-btn{
    background: #46CE6C;
    color: #fff;
}

.third-page{
    display: grid;
    width: 100%;
}

.multi-page, .multi-page-2{
    grid-area: 1 / 1;
    width: 100%;
}

#side-ray{
    float: right;
    width: 46%;  
    height: auto;
}

#side-ray-1{
    float: left;
    width: 50%;
    height: auto;
    margin-top: 103rem;
}

#down-arrow{
    width: 14%;
    height: auto;
    margin-top: 67rem;
    margin-left: -6rem;
}

.fourth-page{
    width: 100%;
    background-color: #fff;
    padding-top: 4rem;
}

.sup-bar{
    max-width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 149.5%;
    text-align: center;
    color: #000000;
    min-height: 4.3rem;
    background-image: url("assets/img/rect.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 58% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.one-step{
    max-width: 100%;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 149.5%;
    text-align: center;
    color: #FFFFFF;
    min-height: 3.3rem;
    background-image: url("assets/img/vect.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 40% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.first-side-1{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-side-1-a{
    margin-top: -2.5rem;
    margin-bottom: 1rem;
}

.first-side-1-b{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.first-side-1-c{
    margin-top: -2rem;
}


#first-side-1-img{
    width: 47%;
}

#first-side-2-img{
    width: 40%;
    margin-left: 3rem;
}

#first-side-3-img{
    width: 44%;
    margin-left: 3rem;
    margin-right: 3rem;
}

#first-side-7-img{
    width: 52%;
}

#first-side-8-img{
    width: 38%;
    margin-left: 3rem;
}

#first-side-9-img{
    width: 36%;
    margin-right: 4rem;
}

#star-img{
    width: 14%;
    margin-right: 0.75rem;
}

.dash-board-1{
    max-width:34%;
    margin-top: 2rem;
}

.dash-board-2{
    display: flex;
}

.dash-p{
    width: 70%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 118.6%;
    color: #1C1C1C;
}

.dash-board-3{
    min-height: 25rem;
    background-image: url("assets/img/grp-dash.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 95% auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 164%;
    color: #FFFFFF;
    padding: 0 2rem; 
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-board-4{
    min-height: 14rem;
    background-image: url("assets/img/grp-dash-1.png");
}

.dash-board-5{
    min-height: 16rem;
    background-image: url("assets/img/zapier-side.png");  
}

.dash-board-6{
    min-height: 16rem;
    background-image: url("assets/img/stash-card-1.png");  
}

.dash-board-7{
    min-height: 16rem;
    background-image: url("assets/img/many-p-1.png");  
}

.dash-board-8{
    min-height: 12rem;
    background-image: url("assets/img/screens-1.png");  
}

.dash-board-9{
    min-height: 14rem;
    background-image: url("assets/img/robot-1.png");   
}

.first-arrow-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-arrow-div img{
    width: 17.5%;
    margin-left: -4rem;
}


.fourth-page-slice{
    max-width: 100%;
    min-height: 18rem;
    background-image: url("assets/img/third-page-slice.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#anim-5{
    width: 11%;
    margin-top: -2rem;
}

.rev-div{
    max-width: 100%;
    padding: 1.4rem 30%;
    margin-top: 2rem;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    color: #09292C;
    line-height: 2.3rem;
}

.rev-up{
    max-width: 100%;
    background-color: #09292C;
}

.rev-up-1{
    padding-top: 2.5rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#camp-1{
    width: 25%;
}

#camp-2{
    width: 48%;
}

#camp-3{
    width: 25%;
}

.rev-btns{
    margin-top: -5rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rev-btns button{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    width: 23%;
    min-height: 4rem;
    background-image: url("assets/img/dashed-btn.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.rev-btns #ex-btn{
    font-size: 1.5rem;
    width: 26.5%;
    height: 6rem;
    background-image: url("assets/img/dashed-btn-1.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 1;
    margin-top: 3rem;
}

.j-bk{
    width: 100%;
    height: 15rem;
    background-image: url("assets/img/joint-bk.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
}

